<!doctype html>
<html lang="en" xmlns:th="http://www.thymelef.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
   <title>Update Page</title>
  </head>
  
  <body>
  <div class="container"><br>
  <h1 style="color:red">User Update form</h1>
  
  <form class="col-5" th:action="@{/saveUser}" th:Object="${user}" method="post">
  
  <input hidden="hidden"th:fild="*{id}">
    <div class="form-group">
    <label for="exampleFormControlInput1">FirstName</label>
    <input type="text" th:field="*{firstName}" class="form-control"  >
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">LastName</label>
    <input type="text" th:field="*{lastName}" class="form-control"  >
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">dateBirth</label>
    <input type="text" th:field="*{dateBirth}"  class="form-control"  >
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">UserName</label>
    <input type="text" th:field="*{userName}" class="form-control"  >
  </div>
  
     <div class="form-group">
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" th:field="*{password}" class="form-control"  >
  </div>  
  
   <div class="form-group">
    <label for="exampleFormControlInput1">UserEmail</label>
    <input type="email" th:field="*{email}"class="form-control"  >
  </div>
  <button type="submit" class="btn btn-success">Update User</button>
  
  </form>
  <br>
  <a th:href="@{/}">Go to homepage</a>
    
    
 </div>
  </body>
  
</html>