<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <context:component-scan base-package="com.spring.mvc"/>
 
 
<!--  set viewresolver -->
  
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver " name="viewResolver">

<property name="prefix" value="/WEB-INF/views/"></property>
<property name="suffix" value=".jsp"></property>
</bean>
 
 
<!-- mongotemplate bean -->

<!-- Configure the MongoTemplate bean in the applicationContext.xml file using the <mongo:template>
 -->
<!-- <bean class="org.springframework.data.mongodb.core.MongoTemplate" name="mongoTemplate">
<constructor-arg name="MongoDbFactory" ref="mongoDbFactory"/>

</bean> -->

<!-- Configure the MongoDB connection settings in the applicationContext.xml file using the <mongo:client>  -->

<!-- Configure the MongoDbFactory bean in the applicationContext.xml
 -->
<!-- <bean name="mongoDbFactory" class="org.springframework.data.mongodb.MongoDbFactory">
    <constructor-arg name="uri" value="mongodb://localhost:27017/Student" />
</bean>
	 -->
	
	
</beans>